  .icon-arrow-left:before {
      content: "\e63b";
  }

  .icon-arrow-down:before {
      content: "\e63c";
  }

  .icon-arrow:before {
      content: "\e63d";
  }

  .icon-arrow-up:before {
      content: "\e63e";
  }

  .icon-eye:before {
      content: "\e648";
  }

  .icon-friends:before {
      content: "\e64a";
  }

  .icon-info:before {
      content: "\e64d";
  }

  .icon-more:before {
      content: "\e650";
  }

  .icon-plus:before {
      content: "\e656";
  }

  .icon-question:before {
      content: "\e655";
  }

  .icon-setting:before {
      content: "\e65a";
  }

  .icon-star:before {
      content: "\e661";
  }