.ov-icon-arrow-left:before {
    content: "\e63b";
}

.ov-icon-arrow-down:before {
    content: "\e63c";
}

.ov-icon-arrow:before {
    content: "\e63d";
}

.ov-icon-arrow-up:before {
    content: "\e63e";
}

.ov-icon-eye:before {
    content: "\e648";
}

.ov-icon-friends:before {
    content: "\e64a";
}

.ov-icon-info:before {
    content: "\e64d";
}

.ov-icon-more:before {
    content: "\e650";
}

.ov-icon-plus:before {
    content: "\e656";
}

.ov-icon-question:before {
    content: "\e655";
}

.ov-icon-setting:before {
    content: "\e65a";
}

.ov-icon-star:before {
    content: "\e661";
}